<header>
    <nav>
      <ul>
        <li><a routerLink="/">iTec</a></li>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/perfil">Perfil</a></li>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
      <button class="cuenta"><a routerLink="/cuenta">Cuenta</a></button>
    </nav>
  </header>
  
  <main>
    <section class="hero">
      <div class="hero-content">
        <h1>Cosechando el futuro</h1>
        <p>Compromiso con la sostenibilidad, la calidad y la innovación en cada paso de la cadena de suministro agrícola.</p>
        <button><a routerLink="/acerca-de">Acerca de</a></button>
      </div>
    </section>
  
    <section class="cards">
      <div class="card">
        <i class="fa fa-university"></i>
        <h2>Perfil</h2>
        <p>Gestione su perfil y manténgase conectado con la comunidad agrícola.</p>
        <button><a routerLink="/perfil">Perfil ></a></button>
      </div>
      <div class="card">
        <i class="fa fa-truck"></i>
        <h2>Productos</h2>
        <p>Explora nuestros productos agrícolas de alta calidad y sostenibles.</p>
        <button><a routerLink="/productos">Productos ></a></button>
      </div>
      <div class="card">
        <i class="fa fa-line-chart"></i>
        <h2>Contacto</h2>
        <p>Contáctenos para obtener más información y asistencia personalizada.</p>
        <button><a routerLink="/contacto">Contacto ></a></button>
      </div>
    </section>
  </main>
  
  <footer>
    <p>Derechos de autor © 2024 Agriconnect. Todos los derechos reservados.</p>
  </footer>
  